/* Global styles */
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #222;
	color: #fff;
}

a {
	text-decoration-line: none;
	color: white;
}

/* Side menu bar */


.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	background-color: #111;
	padding: 20px;
	box-sizing: border-box;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	padding: 15px;
	border-bottom: 1px solid #444;
	cursor: pointer;
	transition: all 0.3s ease;
}

.sidebar ul li:hover {
	background-color: #444;
}

.sidebar ul li.active {
	background-color: #333;
}

.sidebar ul li:last-child {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.content {
	margin-left: 200px;
	padding: 20px;
}

.goal-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.goals-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add-goal-btn {
	background-color: #fff;
	width: 150px;
	color: #333;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.add-goal-btn:hover {
	background-color: #ddd;
	color: #333;
}

.goal-item {
	background-color: #333;
	color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	width: calc(33.33% - 10px);
	box-sizing: border-box;
}

.goal-item h2 {
	margin-top: 0;
}

.goal-item p {
	margin: 10px 0;
}

.goal-item button {
	background-color: #fff;
	color: #333;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.goal-item button:hover {
	background-color: #ddd;
	color: #333;
}