html,
body {
  height: 100%;
  margin: 0;
  background-color: #333;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

.next-btn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
}

.next-btn:hover {
  background-color: #0069d9;
}