/* Global styles */
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #222;
	color: #fff;
}

a {
	text-decoration-line: none;
	color: white;
}

/* Side menu bar */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	background-color: #111;
	padding: 20px;
	box-sizing: border-box;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	padding: 15px;
	border-bottom: 1px solid #444;
	cursor: pointer;
	transition: all 0.3s ease;
}

.sidebar ul li:hover {
	background-color: #444;
}

.sidebar ul li.active {
	background-color: #333;
}

.sidebar ul li:last-child {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #222;
	color: #fff;

	margin-left: 200px;
	padding: 20px;
}

.top-bar {
	display: flex;
	align-items: center;
	padding: 20px;
	height: 80px;
	background-color: #444;
}

.back-button {
	margin-right: 20px;
	background-color: transparent;
	color: #fff;
	border: none;
	cursor: pointer;
}

.completion-mark {
	margin-right: 20px;
}

.deadline {
	margin-left: auto;
}

.content {
	flex-grow: 1;
	padding: 20px;
	display: flex;
}