body {
    height: 100%;
    overflow: hidden;
    font-style: normal;
    font-size: 16px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

div {
    display: block;
}

/* navbar */
.navbar-img {
    width: 121px;
    height: 28px;
}

/* 첫화면 */
.main_visual {
    background-color: blue;
}

.main_visual .cont_wrap {
    padding-bottom: 381px;
    background: url(https://files.ban-life.com/web/www/20210513/main_image.png) no-repeat center bottom;
    background-size: 332px 356px;
    background-color: #ff8123;
}

.main_visual .cont_wrap .txt_wrap {
    padding-left: 37px;
    padding-top: 40px;
}

.main_visual .cont_wrap .txt_wrap h1 {
    width: 265px;
    height: 84px;
    background-size: 100% 100%;
    text-indent: -9999px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.btn_group {
    margin-top: 20px;
}

.mobile_blind {
    display: none;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    width: 100%;
    vertical-align: top;
    overflow-clip-margin : content-box;
    overflow: clip;
}

.main_visual .cont_wrap .ic_google {
    width: 128px;
}

/* 탭 navbar */
/* #myTab {
    position: sticky;
    top: 0;
  } */

/* loading */
.loading img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: hideSplashScreen 0.3s ease-in-out forwards;
      animation-delay: 3s; */
}