
<footer>
    <div>LOGO</div>
    <div class=content_sma>개발자 : 박종혁, 신현성 (가나다 순임)
        <br>
        Tel. 010-0000-0000
        <br>
        COPYRIGHT. 무수히 많은 구글링
        <br><br><br><br><br>
    </div>
</footer>
