<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>list</title>
</head>
<body>
<h2>list.html</h2>
<table>
    <tr>
        <th>id</th>
        <th>email</th>
        <th>name</th>
    </tr>
    <!--th:each 는 thymeleaf의 for each 문법-->
    <tr th:each="user:${user">
        <!--        아래 user.?? 는 list로 받은 타입 dto 클래스의 필드 이름들이다-->
        <td th:text="${friend.id}"></td>
        <td th:text="${friend.id1}"></td>
        <td th:text="${friend.id2}"></td>
        <td>
            <!-- query string /user?id=1
                rest api /user/1 -->
            <!-- "@{|/user/${user.uuid}|}" 는 HTTP 주소창에 위에서 가져온 user라는 데이터 값을 그대로 붙여 넣어주는 문법-->
        </td>
        <td>
<!--            <a th:href="@{|/user/delete/${user.id}|}">삭제</a>-->
        </td>
    </tr>
</table>
</body>
</html>