<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>main</title>
</head>
<body>
<!-- 컨트롤러 login 메서드 결과로 session 정보에 담아둔 정보를 확인 하는 thymeleaf 문-->
session 정보 확인 <br>
회원의 이메일은 <p th:text="${session.uuid}"></p>
<a href="/user/update">내 정보 수정하기</a>
<a href="/user/">친구 관리</a>
<a href="/user/logout">로그아웃</a>
<!--id 를 포함한 redirect 값을 넘겨줌-->
<a th:href = "@{|/user/${userInfo.id}|}">프로필</a>
</body>
</html>