<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
</head>
<body>
<form action="/user/update" method="post">
    <input type="hidden" th:value="${findUser.uuid}" name = "id">
    Email : <input type="text" th:value="${findUser.email}" name = "userEmail" readonly>
    Password : <input type="text" th:value="${findUser.password}" name = "userPassword">
    Name : <input type="text" th:value="${findUser.name}" name = "userName">
    <input type="submit" value="수정">
</form>
</body>
</html>