a {
    text-decoration: none !important;
}

image {
    object-fit: cover;
}

body {
    background-color: #222;
}

.container {
    width: 80%;
}

.board {
    max-width: 1280px;
    margin: 40px auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 40px;
    text-decoration: none;
}



.top-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 40px auto 20px auto;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-select{
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 4rem;
    transition: all 0.5s;
}

.project-select:hover {
    color: grey;
}

#trend-button:focus {
    outline: none;
}

#write-button {
    width: 10rem;
    height: 38px;
    font-size: 17px;
    font-weight: bold;
    padding: 1px 16px;
    background-color: white;
    color: black;
    border: 1.5px solid #333;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.4s;
}

#write-button:focus {
    outline: none;
}

#write-button:hover {
    background-color: #444;
    color: white;
}

.post {
    background: #333;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    display: flex;
    min-height: 100%;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 0;
}

.post h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.post p {
    font-size: 12px;
    color:  #999;
}

.post span {
    font-size: 12px;
    color:  #999;
}

.post:hover {
    top: -10px;
    box-shadow: 0 4px 5px rgba(0,0,0,.2);
    transition: 0.3s ease-in;
}

.post:not(:hover) {
    transition: 0.3s ease-out;
}

.thumbnail {
    padding-bottom: 45%;
    background-size: cover;
    background-position: center center;
}

article {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

article p {
    flex: 1;
}

.post-user {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.post-user div {
    color: grey
}

.post-detail h1{
    color: white;
}

@media screen and (min-width:1280px) {
    .board {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width:920px) {
    .board {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:920px) {
    .board {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:500px) {
    .board {
        grid-template-columns: 1fr 1fr;
    }
}
