<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../css/join.css">
</head>
<body>
<form action="/user/dosave" method="post">
  <div class="page-container">
    <div class="join-form-container shadow">
      <h1>Join</h1>
      <div class="join-input-container">
        <div class="join-input-wrap">
          <input placeholder="Email" type="text" name="email">
        </div>
        <div class="join-input-wrap">
          <input placeholder="Nickname" type="text" name="username">
        </div>
        <div class="join-input-wrap">
          <input placeholder="Password" type="password" name="password">
        </div>
<!--        <div class="join-input-wrap">-->
<!--          <input placeholder="Password confirm" type="password">-->
<!--        </div>-->
      </div>
      <div class="join-btn-wrap">
        <button class="join-btn" type="button">Back</button>
        <button class="join-btn" type="submit">Join</button>
      </div>
    </div>
  </div>
</form>
</body>
</html>