
footer {
    display: flex;
    background-color: rgb(96, 94, 94);
    padding-top: 20px;
}

footer > div:first-child {
    text-align: center;
    color: #fff;
    flex: 3;

}

footer > div:last-child {
    flex: 9;
    color: #fff;
}

footer {
    display: flex;
    background-color: rgb(96, 94, 94);
    padding-top: 20px;
}

footer > div:first-child {
    text-align: center;
    color: #fff;
    flex: 3;

}

footer > div:last-child {
    flex: 9;
    color: #fff;
}