input[type=text] {
    width: 150px;
    height: 34px;
    vertical-align: text-bottom;
    border: 0;
    border-radius: 50px;
    background-color: #bdc6d1;
    outline-style: none;
}

input[type=date] {
    width: 180px;
    height: 34px;
    vertical-align: text-bottom;
    font-size: 15px;
    background-color: #bdc6d1;
    border: none;
    border-radius: 50px;
    outline-style: none;
}

select {
    width: 170px;
    height: 34px;
    vertical-align: text-bottom;
    font-size: 15px;
    background-color: #bdc6d1;
    border: none;
    border-radius: 50px;
    outline-style: none;
}

.intro {
    text-align: center;
    margin: 80px;
}

.intro > button {
    text-align: center;
    margin: 80px;
}

.write {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    color: white;
}

.write > div {
    background-color: #3c4b5d;
    width: 350px;
    height: 80px;
    line-height: 80px;
    border-radius: 50px;
    font-size: 30px;
    font-style: bold;
    margin: 40px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: white;
}

.button_small {
    background-color: #43638a;
    width: 100px;
    height: 50px;
    line-height: 80px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-style: bolder;
    margin: 40px;

}

button {
    background-color: #43638a;
    width: 300px;
    height: 80px;
    line-height: 80px;
    border-radius: 50px;
    border: none;
    font-size: 30px;
    font-style: bold;
    margin: 40px;
}

button a {
    text-decoration: none;
    font-style: none;
    color: white;
}

.nav {
    display: flex;
}
