<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/join.css">
    <title>Photoble</title>
</head>
<body>
    <div class="background"></div>
    <div class="Main">
        <div class="logo">
            <img class="logo-image" src="/image/logo.png"/>
            <h1 class="logo-title">Photoble</h1>
        </div>
        <form action="/join" method="post" enctype="multipart/form-data">
            <input name="userid" class="id" type="text" placeholder="ID">
            <input name="password" class="pw" type="text" placeholder="Password">
            <input name="email" class="email" type="text" placeholder="E-Mail">
            <input class="login" type="submit" value="Join">
        </form>
    </div>
</body>
</html>