/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #222;
  color: #fff;
}

a {
  text-decoration-line: none;
  color: white;
}
.content{
  margin: 3vh;
	padding: 20px;
}
.centered-content{
  width: 100%;
  height: 100%;
}
/* Side menu bar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #111;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #444;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar ul li:hover {
  background-color: #444;
}

.sidebar ul li.active {
  background-color: #333;
}

.sidebar ul li:last-child {
  position: absolute;
  bottom: 20px;
  left: 20px;
}


/* main content */

#calendarBox {
  width: 100%;
  padding-left: 15%;
}