body {
	font-family: Arial, sans-serif;
	background-color: #333;
	color: white;
  }

  h1 {
	color: white;
	font-size: 48px;
  }

  label {
	display: block;
	margin-top: 20px;
  }

  input[type="text"],
  textarea,
  select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #555;
	border-radius: 4px;
	background-color: #555;
	color: white;
  }

  input[type="submit"],
  button {
	background-color: #555;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }

  input[type="submit"]:hover,
  button:hover {
	background-color: #777;
  }

  .section {
	margin: 30px;
	display: inline-block;
	width: 35%;
	vertical-align: top;
  }

  .container {
	text-align: center;
  }

  .friend-form {
	display: inline-block;
	margin-left: -5px;
	vertical-align: top;
  }

  .friend-search-results {
	margin: 20px;
	text-align: left;
  }

  .friend-result {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }