/* Basic styles */

:root{
    --bg-color: white;
}

img {
    width: 100%;
    height: 100%;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #000;
}

.main-container section {
    flex-grow: 1;
    width: 70%;
}

.top-logo-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: #000;
    margin: 10rem auto 5rem auto;
}

.bpm-point-text {
    margin-bottom: 1rem;
    font-size: 7rem;
    font-weight: bold;
    color: #5161CE;
    letter-spacing: 10px;
}


/* title styles */
.home-title span{
    font-size: 2.5em;
    font-weight: normal;
    letter-spacing: 2px;
    word-spacing: 10px;
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.home-title span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1F254F;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.home-title span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

.separator {
    margin-bottom: 8rem;
}

.separator{
    width: 100%;
    height: 1.5px;
    background: rgb(210, 210, 210);
    border: none;
}

.mid-content-wrap {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8rem;
}

.content-discription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    line-height: 1rem;
}

.content-discription h1 {
    letter-spacing: 2px;
    font-weight: bold;
    color: #3d499c;
}

.content-title {
    margin-bottom: 2rem;
}

.img-wrap {
    width: 35%;
    height: 35%;
    display: inline-block;
    margin: auto 20px;
}