@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}


body {
  min-height: 100vh;
  background: #212534;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}


.card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #000000, #5c5c5c 43%, #c9c9c9);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #2e3131, #777778 43%, #f4f4f4);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}


.next-btn {
  padding: 1.5rem 3rem;
  font-size: 2rem;
  background-color: #212534;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
}


.next-btn:hover {
  background-color: #212534;
}

/* title styles */
.home-title span{
  font-size: 3em;
  font-weight: large;
  color: #FFF;
  letter-spacing: 2px;
  word-spacing: 10px;
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
}

.home-title span::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #212534;
  animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
  transform: translateX(-101%);
}

.home-title span::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #212534;
  animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
  transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
  animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
  animation-delay: 1.5s;
}
@keyframes a-ltr-after{
  0% {transform: translateX(-100%)}
  100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
  0% {transform: translateX(0)}
  100% {transform: translateX(200%)}
}