/*  마진 순서 : 상우좌하
    다중 커서 : Alt + 드래그나 클릭
    코드 정렬 : Alt + Shift + F
    border 순서 : 픽셀, 스타일, 색깔 
     */





.top-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    max-width: 1280px;
    margin: 100px auto 20px auto;
    align-items: center;
}

.left {
    display: flex;
    /* flex 아이템 순서 정방향 */
    flex-direction: row;
    /* 수직방향 정렬 */
    justify-content: center;
    /* 아이템들 가운데 정렬 */
    align-items: center;

}

#ProjectLog {
    width: 200px;
    height: 48px;
    font-size: 25px;
    font-weight: bold;
    padding: 4px 15px;
    background-color: white;
    color: black;
    border: none;
    letter-spacing: 2px;
    margin-left: 50px;
}

#ProjectLog:focus {
    outline: none;
}


.middle-box {
    width: 80%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}



.board_list {
    width: 80%;
    margin-left: 10%;
}


.board_list td {
    padding: 2%;
    font-size: 20px;
    text-align: center;

}

#revert-button {
    height: 100%;
    padding: 5px;
    outline: 0.5px solid rgb(122, 122, 255);
    border-radius: 10px;
    font-size: 14px;
    background-color: #FFF;
}