/* Global styles */
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #222;
	color: #fff;
}

a {
	text-decoration-line: none;
	color: white;
}

/* Style container */
.container {
	display: flex;
}


/* Side menu bar */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	background-color: #111;
	padding: 20px;
	box-sizing: border-box;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	padding: 15px;
	border-bottom: 1px solid #444;
	cursor: pointer;
	transition: all 0.3s ease;
}

.sidebar ul li:hover {
	background-color: #444;
}

.sidebar ul li.active {
	background-color: #333;
}

.sidebar ul li:last-child {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.centered-content {
	margin-left: 200px;
	padding: 20px;
}

.project-name {
	margin: 2%;
	font-size: 36px;
	text-align: center;
}

.centered-top {
	display: flex;
}

.team-members,
.project-intro,
.my-work,
.goals {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.project-intro {
	flex: 1;
	background-color: #333;
	color: #fff;
	padding: 20px;
	border-radius: 10px;
	margin: 10px;

}

.team-members {
	flex: 1;
	background-color: #333;
	color: #fff;
	padding: 20px;
	border-radius: 10px;
	margin: 10px;
}

.my-work {
	background-color: #333;
	color: #fff;
	padding: 20px;
	border-radius: 10px;
	margin: 10px;
}

.goals {
	background-color: #333;
	color: #fff;
	padding: 20px;
	border-radius: 10px;
	margin: 10px;
}