<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<!-- Week10 -->
	<display-name>Spring-B</display-name>
	<absolute-ordering />

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<!-- HTTP 요청 파라미터를 읽어 올 때 매핑 단계에서 url 패턴을 지정한다 -->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- 서블릿(서버에서 생성되는 자바기반의 프로그램) 생성 -->
	<servlet>
		<servlet-name>doDispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>

	<!-- 서블릿이 실행될 수 있는 path -->
	<servlet-mapping>
		<servlet-name>doDispatcher</servlet-name>
		<url-pattern>/xmlMVC.do</url-pattern>
	</servlet-mapping>


<!-- week11 -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<!-- 스프링 빈 컨테이너 생성 xml -->
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>
		<init-param>
		<!-- HandlerMapping과 View 설정  -->
			<param-name>contextConfigLocation</param-name>
			<param-value>
			configure.MvcConfig
			configure.ControllerConfig
			</param-value>
		</init-param>
	</servlet>

	<!-- 응답해야할 매핑 이름 지정 -->
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>